sim:nhcal_basic_distribution:
  extends: .det_benchmark
  stage: simulate
  timeout: 4 hours
  parallel:
    matrix:
      - ENERGY: ["0.5", "0.7", "1.0", "2.0", "5.0"]
        INDEX_RANGE: ["0 4","5 9"]
  script:
    - snakemake $SNAKEMAKE_FLAGS --cores $MAX_CORES_PER_JOB $(for INDEX in $(seq -f '%02.0f' $INDEX_RANGE); do echo sim_output/nhcal_basic_distribution/E${ENERGY}GeV/sim_epic_backward_hcal_only.${INDEX}.edm4hep.root; done)

sim:nhcal_basic_distribution_full:
  extends: .det_benchmark
  stage: simulate
  timeout: 4 hours
  parallel:
    matrix:
      - ENERGY: ["0.5", "0.7", "1.0", "2.0"]
        INDEX_RANGE: ["0 4","5 9"]
      - ENERGY: ["5.0"]
        INDEX_RANGE: ["0 2", "3 5", "6 7", "8 9"]

  script:
    - snakemake $SNAKEMAKE_FLAGS --cores $MAX_CORES_PER_JOB $(for INDEX in $(seq -f '%02.0f' $INDEX_RANGE); do echo sim_output/nhcal_basic_distribution/E${ENERGY}GeV/sim_epic_full.${INDEX}.edm4hep.root; done)

bench:nhcal_basic_distribution_analysis:
  extends: .det_benchmark
  stage: benchmarks
  needs:
    - "sim:nhcal_basic_distribution"
  parallel:
    matrix:
      - ENERGY: ["0.5", "0.7", "1.0", "2.0", "5.0"]
  script:
    - snakemake $SNAKEMAKE_FLAGS --cores 1 \
        results/nhcal_basic_distribution/analysis_E${ENERGY}GeV_epic_backward_hcal_only_10files.png \
        sim_output/nhcal_basic_distribution/energy_resolution_E${ENERGY}GeV_epic_backward_hcal_only.root
    - snakemake $SNAKEMAKE_FLAGS --cores 1 \
        results/nhcal_basic_distribution/energy_resolution_analysis_epic_backward_hcal_only.png

bench:nhcal_basic_distribution_analysis_full:
  extends: .det_benchmark
  stage: benchmarks
  needs:
    - "sim:nhcal_basic_distribution_full"
  parallel:
    matrix:
      - ENERGY: ["0.5", "0.7", "1.0", "2.0", "5.0"]
  script:
    - snakemake $SNAKEMAKE_FLAGS --cores 1 \
        results/nhcal_basic_distribution/analysis_E${ENERGY}GeV_epic_full_10files.png \
        sim_output/nhcal_basic_distribution/energy_resolution_E${ENERGY}GeV_epic_full.root
    - snakemake $SNAKEMAKE_FLAGS --cores 1 \
        results/nhcal_basic_distribution/energy_resolution_analysis_epic_full.png


collect_results:nhcal_basic_distribution:
  extends: .det_benchmark
  stage: collect
  needs: 
    - "bench:nhcal_basic_distribution_analysis"
    - "bench:nhcal_basic_distribution_analysis_full"
  parallel:
    matrix:
      - DETECTOR_CONFIG: ["epic_backward_hcal_only", "epic_full"]
  script:
    - ls -lrht
    - mv results{,_save}/ 
    - snakemake $SNAKEMAKE_FLAGS --cores 1 --delete-all-output results/nhcal_basic_distribution/energy_resolution_analysis_{DETECTOR_CONFIG}.png
    - mv results{_save,}/
        
