sim:nhcal_basic_distribution:
  extends: .det_benchmark
  stage: simulate
  timeout: 4 hours
  parallel:
    matrix:
      - ENERGY: ["0.5GeV", "0.7GeV", "1.0GeV", "2.0GeV", "5.0GeV"]
        INDEX_RANGE: ["0 4","5 9"]
  script:
    - snakemake $SNAKEMAKE_FLAGS --cores $MAX_CORES_PER_JOB $(for INDEX in $(seq -f '%02.0f' $INDEX_RANGE); do echo sim_output/nhcal_basic_distribution/E${ENERGY}/sim_epic_backward_hcal_only.${INDEX}.edm4hep.root; done)

sim:nhcal_basic_distribution_full:
  extends: .det_benchmark
  stage: simulate
  timeout: 4 hours
  parallel:
    matrix:
      - ENERGY: ["0.5GeV", "0.7GeV", "1.0GeV", "2.0GeV"]
        INDEX_RANGE: ["0 4","5 9"]
      - ENERGY: ["5.0GeV"]
        INDEX_RANGE: ["0 3", "4 6", "7 9"]
  script:
    - snakemake $SNAKEMAKE_FLAGS --cores $MAX_CORES_PER_JOB $(for INDEX in $(seq -f '%02.0f' $INDEX_RANGE); do echo sim_output/nhcal_basic_distribution/E${ENERGY}/sim_epic_full.${INDEX}.edm4hep.root; done)

bench:nhcal_basic_distribution_analysis:
  extends: .det_benchmark
  stage: benchmarks
  needs:
    - "sim:nhcal_basic_distribution"
  parallel:
    matrix:
      - ENERGY: ["0.5GeV", "0.7GeV", "1.0GeV", "2.0GeV", "5.0GeV"]
  script:
    - snakemake $SNAKEMAKE_FLAGS --cores 1 results/nhcal_basic_distribution/analysis_epic_backward_hcal_only_E${ENERGY}_combined_10files.pdf

bench:nhcal_basic_distribution_analysis_full:
  extends: .det_benchmark
  stage: benchmarks
  needs:
    - "sim:nhcal_basic_distribution_full"
  parallel:
    matrix:
      - ENERGY: ["0.5GeV", "0.7GeV", "1.0GeV", "2.0GeV", "5.0GeV"]
  script:
    - snakemake $SNAKEMAKE_FLAGS --cores 1 results/nhcal_basic_distribution/analysis_epic_full_E${ENERGY}_combined_10files.pdf


collect_results:nhcal_basic_distribution:
  extends: .det_benchmark
  stage: collect
  needs: 
    - "bench:nhcal_basic_distribution_analysis"
    - "bench:nhcal_basic_distribution_analysis_full"
  parallel:
    matrix:
      - ENERGY: ["0.5GeV", "0.7GeV", "1.0GeV", "2.0GeV", "5.0GeV"]
        DETECTOR_CONFIG: ["epic_backward_hcal_only", "epic_full"]
  script:
    - ls -lrht
    - mv results{,_save}/ 
    - snakemake $SNAKEMAKE_FLAGS --cores 1 --delete-all-output results/nhcal_basic_distribution/analysis_${DETECTOR_CONFIG}_E${ENERGY}_combined_10files.pdf
    - mv results{_save,}/
        
