sim:insert_neutron:
  stage: simulate
  extends: .det_benchmark
  needs: ["common:detector"]
  parallel:
    matrix:
      - P: 20
      - P: 30
      - P: 40
      - P: 50
      - P: 60
      - P: 70
      - P: 80
  timeout: 1 hours
  script:
    - snakemake --cores 1 sim_output/insert_neutron/epic_craterlake_rec_neutron_${P}GeV.edm4hep.root 
  retry:
    max: 2
    when:
      - runner_system_failure

bench:insert_neutron:
  stage: benchmarks
  extends: .det_benchmark
  needs: ["sim:insert_neutron"]
  script:
    - snakemake --cores 1 results/epic_craterlake/insert_neutron

collect_results:insert_neutron:
  stage: collect
  needs: ["bench:insert_neutron"]
  script:
    - ls -al
    - mv results{,_save}/ # move results directory out of the way to preserve it
    - snakemake --cores 1 --delete-all-output results/epic_craterlake/insert_neutron
    - mv results{_save,}/
