sim:tracking_performance:
  extends: .det_benchmark
  stage: simulate
  parallel:
    matrix:
      - PARTICLE: ["pi-"]
        MOMENTUM: ["500MeV", "1GeV", "2GeV", "5GeV", "10GeV", "20GeV"]
  script:
    - |
      snakemake --cache --cores 1 \
        sim_output/tracking_performance/epic_craterlake_tracking_only/${PARTICLE}/${MOMENTUM}/3to50deg/${PARTICLE}_${MOMENTUM}_3to50deg.0000.eicrecon.tree.edm4eic.root \
        sim_output/tracking_performance/epic_craterlake_tracking_only/${PARTICLE}/${MOMENTUM}/45to135deg/${PARTICLE}_${MOMENTUM}_45to135deg.0000.eicrecon.tree.edm4eic.root \
        sim_output/tracking_performance/epic_craterlake_tracking_only/${PARTICLE}/${MOMENTUM}/130to177deg/${PARTICLE}_${MOMENTUM}_130to177deg.0000.eicrecon.tree.edm4eic.root

bench:tracking_performance_hit_maps:
  extends: .det_benchmark
  stage: benchmarks
  needs:
    - "sim:tracking_performance"
  parallel:
    matrix:
      - PARTICLE: ["pi-"]
        MOMENTUM: ["0.5", "1", "2", "5", "10", "20"]
  script:
    - MOM_UNIT=$(awk -v m=$MOMENTUM 'BEGIN {printf "%.0f%s", (m<1?m*1000:m), (m<1?"MeV":"GeV")}')
    - snakemake $SNAKEMAKE_FLAGS --cores 2 results/hitmaps/local/truthseed/${PARTICLE}/${MOMENTUM}/Nhits_vs_eta.png

bench:tracking_performance:
  extends: .det_benchmark
  stage: benchmarks
  needs:
    - ["sim:tracking_performance"]
  script:
    - snakemake $SNAKEMAKE_FLAGS --cores 3 tracking_performance_local

collect_results:tracking_performance:
  extends: .det_benchmark
  stage: collect
  needs:
    - "bench:tracking_performance"
    - "bench:tracking_performance_hit_maps"
  script:
    - ls -lrht
    - mkdir -p results_collected
    - cp -r results/hitmaps results_collected/hitmaps/
    - mv results{,_save}/ # move results directory out of the way to preserve it
    - snakemake $SNAKEMAKE_FLAGS --cores 1 --delete-all-output tracking_performance_local
    - mv results{_save,}/

bench:tracking_performance_campaigns:
  extends: .det_benchmark
  stage: benchmarks
  #when: manual
  script:
    - snakemake $SNAKEMAKE_FLAGS --cores 1 tracking_performance_campaigns

collect_results:tracking_performance_campaigns:
  extends: .det_benchmark
  stage: collect
  needs:
    - "bench:tracking_performance_campaigns"
  script:
    - ls -lrht
    - mv results{,_save}/ # move results directory out of the way to preserve it
    - snakemake $SNAKEMAKE_FLAGS --cores 1 --delete-all-output tracking_performance_campaigns
    - mv results{_save,}/
