sim:nhcal_sampling_fraction:
  extends: .det_benchmark
  stage: simulate
  parallel:
    matrix:
      - ENERGY: ["0.5", "0.7","1.0", "2.0", "5.0", "10.0"]
        PARTICLE: ["pi-", "neutron", "e-"]
  script:
    - snakemake $SNAKEMAKE_FLAGS --cores $MAX_CORES_PER_JOB sim_output/nhcal_sampling_fraction/${PARTICLE}/Ekin${ENERGY}GeV/sim.edm4hep.root                 

bench:nhcal_sampling_fraction:
  extends: .det_benchmark
  stage: benchmarks
  needs:
    - "sim:nhcal_sampling_fraction"
  script:
    - snakemake $SNAKEMAKE_FLAGS --cores 1 results/nhcal_sampling_fraction/hist_sampf_vs_Ehit.pdf

collect_results:nhcal_sampling_fraction:
  extends: .det_benchmark
  stage: collect
  needs: 
    - "bench:nhcal_sampling_fraction"
  script:
    - ls -lrht
    - mv results{,_save}/ 
    - snakemake $SNAKEMAKE_FLAGS --cores 1 --delete-all-output results/nhcal_sampling_fraction/hist_sampf_vs_Ehit.pdf
    - mv results{_save,}/
        