bench:material_scan:
  extends: .det_benchmark
  stage: benchmarks
  script:
    - snakemake $SNAKEMAKE_FLAGS --cores 1 results/material_scan/epic_craterlake/material_scan_details.pdf

collect_results:material_scan:
  extends: .det_benchmark
  stage: collect
  needs:
    - ["bench:material_scan"]
  script:
    - ls -lrht
