sim:zdc_lambda:
  stage: simulate
  extends: .det_benchmark
  parallel:
    matrix:
      - P: 100
      - P: 125
      - P: 150
      - P: 175
      - P: 200
      - P: 225
      - P: 250
      - P: 275
  timeout: 3 hours
  script:
    - snakemake --cores 1 sim_output/zdc_lambda/epic_zdc_sipm_on_tile_only_rec_lambda_dec_${P}GeV.edm4eic.root
  retry:
    max: 2
    when:
      - runner_system_failure

bench:zdc_lambda:
  stage: benchmarks
  extends: .det_benchmark
  needs: ["sim:zdc_lambda"]
  script:
    - snakemake --cores 1 results/epic_zdc_sipm_on_tile_only/zdc_lambda

collect_results:zdc_lambda:
  stage: collect
  needs: ["bench:zdc_lambda"]
  script:
    - ls -al
    - mv results{,_save}/ # move results directory out of the way to preserve it
    - snakemake --cores 1 --delete-all-output results/epic_zdc_sipm_on_tile_only/zdc_lambda
    - mv results{_save,}/
